body
{
	background-color:white;
	color:#1f1f27;
	font-family:sans-serif;
}

h1,h2
{
	color:#1f1f27;
}

h1{ font-size: 7em; text-align: center;}

p
{
	text-align: justify;
	font-size: 1em;
	margin-bottom:20px;
}
